.Instructions {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(9, 18, 47, 0.4);
    color: #EEE;
    padding: 15px;
    border: 1px solid #EEE;
    border-radius: 3px;
    font-size: 18px;
    z-index: 999;
}

@media(max-width: 480px) {
    .Instructions {
        max-width: 150px;
    }
}